.homepage {
    height: 100vh;
    // overflow: hidden;
    display:flex;
    flex:1;
    flex-direction: column;
    .wrap_content {
        // overflow: hidden;
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .renderItem {
            // height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}